<!-- footer.tmpl -->
<p class="vertical-space1"></p>

<div class="row">
    <div class="col col-2"></div>
    <div class="col col-8">
        <!-- add footer notes here -->
    </div>
    <div class="col col-2"></div>
</div>
<!-- end of footer.tmpl -->
</body>
</html>
