<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Kube CSS -->
    <link rel="stylesheet" href="{{.Base}}/css/kube.min.css">
    <link rel="stylesheet" href="{{.Base}}/css/main.css">

    <!-- Kube JS + jQuery are used for some functionality, but are not required for the basic setup -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="{{.Base}}/js/kube.min.js"></script>

    <!-- netron -->
    <link rel='stylesheet' type='text/css' href='{{.Base}}/netron/open-sans.css'>
    <link rel='stylesheet' type='text/css' href='{{.Base}}/netron/view-render.css'>
    <link rel='stylesheet' type='text/css' href='{{.Base}}/netron/view-sidebar.css'>
    <link rel='stylesheet' type='text/css' href='{{.Base}}/netron/view.css'>
    <script type='text/javascript' src='{{.Base}}/netron/d3.min.js'></script>
    <script type='text/javascript' src='{{.Base}}/netron/dagre.min.js'></script>
    <script type='text/javascript' src='{{.Base}}/netron/protobuf.min.js'></script>
    <script type='text/javascript' src='{{.Base}}/netron/flatbuffers.js'></script>
    <script type='text/javascript' src='{{.Base}}/netron/handlebars.min.js'></script>
    <script type='text/javascript' src='{{.Base}}/netron/marked.min.js'></script>
    <script type='text/javascript' src='{{.Base}}/netron/onnx-model.js'></script>
    <script type='text/javascript' src='{{.Base}}/netron/tf-model.js'></script>
    <script type='text/javascript' src='{{.Base}}/netron/tflite-model.js'></script>
    <script type='text/javascript' src='{{.Base}}/netron/keras-model.js'></script>
    <script type='text/javascript' src='{{.Base}}/netron/coreml-model.js'></script>
    <script type='text/javascript' src='{{.Base}}/netron/caffe-model.js'></script>
    <script type='text/javascript' src='{{.Base}}/netron/caffe2-model.js'></script>
    <script type='text/javascript' src='{{.Base}}/netron/mxnet-model.js'></script>
    <script type='text/javascript' src='{{.Base}}/netron/view-browser.js'></script>
    <script type='text/javascript' src='{{.Base}}/netron/view-render.js'></script>
    <script type='text/javascript' src='{{.Base}}/netron/view-sidebar.js'></script>
    <script type='text/javascript' src='{{.Base}}/netron/view.js'></script>
</head>
<body id="gradient">
