<div class="row">
    <div class="col col-6"></div>
    <div class="col col-4">
        <nav class="tabs" data-component="tabs">
            <ul>
                <li class="active"><a href="#tab1">Home</a></li>
                <li><a href="#tab2">Download</a></li>
                <li><a href="#tab3">Models</a></li>
                <li><a href="#tab4">Github</a></li>
                <li><a href="#tab5">Contact</a></li>
            </ul>
        </nav>
    </div>
    <div class="col col-2"></div>
</div>

<p class="vertical-space1"></p>

<div class="row">
    <div class="col col-2"></div>
    <div class="col col-2">
        <div>
        <figure>
            <img src="{{.Base}}/images/tfaas_logo.png" alt="TFaaS" height="200" width="200">
        </figure>
        </div>
    </div>

    <div class="col col-6">
        <div class="row gutters">
            <div class="col col-6">

                <div class="upper strong header-font">
                    Scalable and efficient 
                </div>
                <div class="div-font">
                    TFaaS built using modern technologie
                    and scale along with your hardware.
                    It does not lock you into specific
                    provider. Deploy it at your premises
                    and control your use-case usage.
                </div>
                <p>
					<button class="button secondary outline" data-component="modal" data-target="#benchmark" data-text="Hide Me">Learn more</button>
                </p>

            </div>
            <div class="col col-6">
                <div class="upper strong header-font">
                Reach APIs
                </div>
                <div class="div-font">
                    TFaaS provides reach and flexible set
                    of APIs to efficiently manage your TF
                    models. The TFaaS web server supports
                    JSON or Protobuffer data-formats to
                    support your clients.
                </div>
                <p>
					<button class="button secondary outline" data-component="modal" data-target="#apis" data-text="Hide Me">Learn more</button>
                </p>
            </div>
        </div>
    </div>
    <div class="col col-2"></div>
</div>

<!-- second row -->
<p class="vertical-space1"></p>

<div class="row">
    <div class="col col-2"></div>
    <div class="col col-8">
        <h4 class="upper strong header-font">
        From deployment to production
        </h4>
        <div class="div-font">
            <div>
                <span class="label badge error">1</span>
                Deploy docker image:
                <div class="tfaas-code">
        docker run --rm -h `hostname -f` -p 8083:8083 -v /tmp/tfaas:/etc/secrets -i -t veknet/tfaas
                </div>
            </div>
            <div>
                <span class="label badge warning">2</span>
                Upload your model:
                <div class="tfaas-code">
        curl -X POST http://localhost:8083/upload -F 'name=ImageModel'
        -F 'params=@/path/params.json'
        -F 'model=@/path/tf_model.pb' -F 'labels=@/path/labels.txt'
                </div>
            </div>
            <div>
                <span class="label badge success">3</span>
                Get predictions:
                <div class="tfaas-code">
        curl https://localhost:8083/image -F 'image=@/path/file.png' -F 'model=ImageModel'
                </div>
            </div>

                Flexible configuration parameters allows you to adopt
                TFaaS deployment to any use case.
        </div>
    </div>
    <div class="col col-2"></div>
</div>

<!-- hidden area -->
<div class="row">
    <div class="col col-2"></div>
    <div class="col col-2"></div>
    <div class="col col-6">
        <div id="benchmark" class="modal-box hide">
            <div class="modal">
                <div class="modal-layout">
                    <p class="vertical-space1"></p>
                    <span class="close"></span>
                    <h5>TFaaS benchmarks</h5>
                    Benchmark results on CentOS, 24 cores, 32GB of RAM
                    <ul>
                        <li>400 req/sec for 100 concurrent clients, 1000 requests in total</li>
                        <li>480 req/sec for 200 concurrent clients, 5000 requests in total</li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="apis" class="modal-box hide">
            <div class="modal">
                <div class="modal-layout">
                    <p class="vertical-space1"></p>
                    <span class="close"></span>
                    <h5>TFaaS service APIs</h5>

                    <div>
                    <span class="label success upper">GET</span>
                    <ul>
                        <li>/models lists all available models/labels uploaded to TFaaS</li>
                        <li>/params list model parameters to be used by TFaaS</li>
                    </ul>
                    </div>
                    <div>
                    <span class="label focus upper">POST</span>
                    <ul>
                        <li>/upload pushes your model to TFaaS</li>
                        <li>/params uploads new set of parameters to TFaaS</li>
                        <li>/json serves inference for given set of input parameters in JSON data-format</li>
                        <li>/proto serves inference in ProtoBuffer data-format</li>
                    </ul>
                    </div>
                    <div>
                    <span class="label error upper">DELETE</span>
                    <ul>
                        <li>/delete  deletes given model from TFaaS</li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col col-2"></div>
</div>
